*.pyc
__pycache__
db.sqlite3
.DS_Store
.idea
blog/migrations/
course/migrations/
polls/migrations/
rank/migrations/
/static/css/
/static/admin/
/static/fonts/
/static/polls/
/static/images/
/static/js/
