<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a href="{% url 'blog:comment_remove' pk=comment.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="{% url 'blog:comment_approve' pk=comment.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <strong>{{ comment.author.username }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
        {% empty %}
            <p>No comments here yet</p>
    {% endfor %}
</body>
</html>