{% extends 'blog/base.html' %}

{% load staticfiles %}

<!-- Страница всех постов: / или /?page=2 -->
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                    <h3><a href="{{ post.get_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.text|truncatechars:200 }}</p>
                    <a href="{{ post.get_url }}">Comments: {{ post.approved_comments.count }}</a>
                    <p style="float: right;">
                        <a href="{% url 'blog:add_like' pk=post.pk page=posts.number %}"><img src="{% static 'images/Like.png' %}" width="25px" height="25px"></a>
                        {{ post.likes }}
{#                        <input type="button" id="like" name="{{ post.pk }}" value="Like">#}
{#                        <script>#}
{#                            $('#like').click(function () {#}
{#                                $.ajax({#}
{#                                    type: "POST",#}
{#                                    url: "{% url 'blog:add_like' %}",#}
{#                                    data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},#}
{#                                    success: function (response) {#}
{#                                        alert(response.message);#}
{#                                        alert('Post likes count is now ' + response.likes_count);#}
{#                                    },#}
{#                                    error: function (rs, e) {#}
{#                                        alert(rs.responseText);#}
{#                                    }#}
{#                                });#}
{#                            })#}
{#                        </script>#}
                    </p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-5">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="arrow"><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="arrow"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                    {% if page == posts.number %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                {% if posts.has_next %}
                    <li class="arrow"><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="arrow"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}