{% extends 'blog/base.html' %}

<!-- Страница конкретного поста: /post/42/ -->
{% block content %}
    <div class="post-header">
        {% if user.is_authenticated %}
            <a href="{% url 'blog:post_edit' pk=post.pk %}" class="btn btn-default edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="{% url 'blog:post_remove' pk=post.pk %}" class="btn btn-default edit">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        {% endif %}
        {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
        {% else %}
            {% if user.is_authenticated %}
                <a href="{% url 'blog:post_publish' pk=post.pk %}" class="btn btn-default publish">Publish</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <hr>

    <div class="comments">
        <div id="comments-list">
        </div>
        {% if user.is_authenticated %}
            <h3>New comment:</h3>
            <form action="{% url 'blog:add_comment_to_post' pk=post.pk %}" method="post" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Send</button>
            </form>
        {% endif %}
    </div>
    <script>
        $("#comments-list").load("{% url 'blog:post_comments' pk=post.pk %}");
    </script>
{% endblock %}